
html {height:100.3%;}

/* Police */
body {
  font-family: 'Nunito Sans', sans-serif;
  margin: auto;
  max-width: 900px;
}

/* Fade In */
.fade-in-image {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Placement dans l'entête */
.bloc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a b";
  }
  .bloc:nth-child(1) {
    grid-area: a;
  }
  .bloc:nth-child(2) {
    grid-area: b;
  }
.bloc2 {
    margin: 50px 50px;
    
}

.btnMenu {
   background-color: bisque;
   border: none;
   padding:15px 32px;
}

#button {
  background-color: bisque;
}

#contenuPage {
  margin: 20px 20px;
}

.hide {
  display: none;
}

.btnPlus {
  background-color: bisque;
  border:none;
}

.alinea {
  text-indent:20px;
}

video {
  max-width: 400px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
